[Unit]
Description=irssi (in tmux)
Documentation=man:irssi(1)
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=90
TimeoutStopSec=10
WorkingDirectory=~
Environment=TERM=screen-256color WIDTH=80 HEIGHT=24
EnvironmentFile=-%E/tmux-irssi.env
ExecStartPre=/bin/sh -c 'until getent hosts google.com >/dev/null 2>&1; do sleep 1; done'
ExecStart=/bin/sh -c '/usr/bin/tmux -L %p -2 new-session -d -x ${WIDTH} -y ${HEIGHT} -s irssi /usr/bin/irssi'
RestartSec=5

[Install]
WantedBy=default.target
